.Homepage {
  background-image: url("background.jpg");
  background-position: left;
  height: 80vh;

  opacity: 1;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #e0ebeb;
  position: relative;
}

.Homepage-content {
  position: absolute;
  left: 60%;
  top: 20%;
  width: 30vw;
  margin: 10px;
}
